*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}
.first{
    height:80px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
.second{
    height:50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
h2{
    color:blue ;
}
b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;  
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.third{
    display: flex;
    justify-content: space-around;
    height: 450px;
    align-items: center;
}
.fourth{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: .05s;
}
.fourth:hover{
    text-decoration: underline;
}

h4{
    padding: 10px ;
    color: brown;
    font-size: 20px;
}
h3{
    padding: 10px ;

}
table{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
   background-color:white;
}